@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}

.about {
  background-color: #0a2750;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.about__container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.about__title {
  margin: 100px 0 0 80px;
  max-width: 251px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 80px 0 0;
  max-width: 660px;
}

.about__paragraph:first-of-type {
  margin-top: 119px;
}

.about__paragraph:last-of-type {
  margin-bottom: 173px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
