.card {
  max-width: 600px;
  flex-basis: 50%;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.card__content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card__list-item {
  display: flex;
  font-family: "Noto Serif", "Times New Roman", serif;
  margin-bottom: 16px;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  flex-grow: 1;
  margin: 0 10px 0;
  border-bottom: #fff solid 1px;
}
